[submodule "deltachat-core"]
	path = deltachat-core
	url = https://github.com/deltachat/deltachat-core
[submodule "deltachat-core-rust"]
	path = deltachat-core-rust
	url = https://github.com/deltachat/deltachat-core-rust
