.travis.yml
build/
.nyc_output/
coverage/
images/
scripts/generate-constants.js
scripts/travis-before-install
test/
jenkins/
deltachat-core/python/
deltachat-core/docs/
deltachat-core/.git
deltachat-core/.gitattributes
deltachat-core/.github
deltachat-core/.gitignore
