language: node_js
sudo: required
dist: xenial

os:
  - osx
  - linux

node_js:
  - 10

env:
  matrix:
    - DC_CORE_VERSION="master" SYS_DC_CORE="false"
#    - DC_CORE_VERSION="master" SYS_DC_CORE="true"

cache:
  directories:
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target

before_install:
  - ./ci_scripts/ci-prelude.sh

install:
  - ./ci_scripts/ci-build.sh

script:
  - ./ci_scripts/ci-test.sh

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then npm run coverage; else true; fi

notifications:
  email: false
