language: node_js

os:
  - osx

before_install:
  - env
  - export LDFLAGS="-L/usr/local/opt/openssl/lib"
  - export CPPFLAGS="-I/usr/local/opt/openssl/include"
  - export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig"
  - ./scripts/travis-before-install

node_js:
  - 8

script:
  - npm test
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm run test-integration fi'
  - npm run prebuild

notifications:
  email: false
